.container {
  max-width: 1200px;
  margin: auto;
}

.phonebookHeader {
  background-color: lightgrey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeIcon {
  font-size: 24px;
  color: blue;
}

.homeIcon:hover {
  cursor: pointer;
}