.display-contacts {
  max-width: 100%;
}

.contacts-list {
  margin-top: 20px;
  width: 400px;
  max-width: 90%;
}

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contacts-list li span {
  font-weight: 700;
  font-size: 18px;
}

.btns-container {
  margin-left: 30px;
}

.remove-button,
.edit-button {
  background-color: #e53935;
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button {
  margin-left: 10px;
  background-color: blue;
}

.edit-button:hover {
  background-color: rgb(2, 2, 139);
}

.remove-button:hover {
  background-color: #c62828;
}

.remove-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e53935;
}

.remove-button:active {
  transform: translateY(1px);
}